<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/react/15.5.4/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.5.4/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/antd@2.9.1/dist/antd.min.css">
    <script src="https://unpkg.com/antd@2.9.1/dist/antd.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
<div id="wrap"></div>
</div>

</body>
</html>